#lista {
  list-style-type: none;
}

.titulos {
  text-align: center;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.apertura {
  align-items: center;
  flex-direction: column;
}

.parrillada {
  width: 250px;
  height: 125px;
  text-align: center;
  margin-left: 40%;
}

.cuerpo {
  background-image: url(../fondo/parrillada.jpg);
}

#pago {
  align-items: center;
  text-align: center;
  margin-top: 16%;
  margin-left: 36%;
}

@media (max-width: 768px) {
  .row {
    align-items: center;
    flex-direction: column;
  }
}
